.hamburger {
  text-align: left;
}

.header {
  background-image: url("../img/backgrounds/landing.jpg");
  padding: 130px;
}

.background {
  text-align: center;
}

.text {
  color: #FDFEFE;
}

#HH {
  background-color: #FDFEFE;
  text-align: center;
  padding: 35px;
  /*padding-left: 10px;
  padding-r*/
  margin: 0px;
}

#PT {
  background-color: #F15A29;
  color: #FDFEFE;
  text-align: center;
  padding: 35px;
  padding-left: 10px;
  margin: 0px;
}

#breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
  color: #FDFEFE;
  text-align: center;
  padding: 85px;
}

#lunch {
  background-image: url("../img/foodtop/lunch.jpg");
  color: #FDFEFE;
  text-align: center;
  padding: 85px;
}

#dinner {
  background-image: url("../img/foodtop/dinner.jpg");
  color: #FDFEFE;
  text-align: center;
  padding: 85px;
}

.fastfood {
  float: right;
  width: 50%;
}

.jumbotron {
  float: left;
  width: 50%;
}

.drinks {
  float: left;
  width: 50%;
}

#drinks {
  float: right;
  width: 50%;
}

.main-section {
  margin: 50px;
}
