html {
  font: "slab" serif;
  font-family: "Arvo", serif;
}

.hamburger {
  text-align: left;
}

.header {
  background-image: url("../img/backgrounds/landing.jpg");
  padding: 130px;
}

.background {
  text-align: center;
}

.text {
  color: #FDFEFE;
}

#HH {
  background-color: #FDFEFE;
  text-align: center;
  padding: 35px;
  /*padding-left: 10px;
  padding-r*/
  margin: 0px;
}

#PT {
  background-color: #F15A29;
  color: #FDFEFE;
  text-align: center;
  padding: 35px;
  padding-left: 10px;
  margin: 0px;
}

#breakfast {
  background-image: url("../img/foodtop/breakfast.jpg");
  color: #FDFEFE;
  text-align: center;
  padding: 85px;
}

#lunch {
  background-image: url("../img/foodtop/lunch.jpg");
  color: #FDFEFE;
  text-align: center;
  padding: 85px;
}

#dinner {
  background-image: url("../img/foodtop/dinner.jpg");
  color: #FDFEFE;
  text-align: center;
  padding: 85px;
}

#fastfood {
  float: right;
  width: 40%;
  margin: 60px;
  text-align: left;
}

#FF {
  float: left;
  width: 40%;
  margin: 30px;
  text-align: center;
  background-color: #FDFEFE;
}

#viewGallery {
  color: #F15A29;
  border-color: #F15A29;
  background-color: #FDFEFE;
  padding: 10px;
  padding-right: 20px;
}

.drinks {
  float: left;
  width: 50%;
}

#drinks {
  float: right;
  width: 40%;
}

.main-section {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
